body{
    background-color: rgba(80, 8, 8, 0.918);
}

.wrapper {
    position: relative;
}

/* .dashed-box {
    position: relative;
    z-index: 10;
    border: dashed;
    height: 8em;
    margin-bottom: 1em;
    margin-top: 2em;
} */



.green-box {
    position: absolute;
    z-index: 7;
    background: lightgreen;
    width: 20%;
    height: 7em;
    opacity: 0.9;
}

.gold-box {
    position: absolute;
    z-index: 6;
    background: gold;
    width: 80%;
}