* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}
.main-nav {
  height: 70px;
  width: 1915px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
}

.navbar {
  height: 65px; 
  width: 1400px;
  /* border: 2px solid yellow; */
  display: flex;
}
.logo {
  height: 65px;
  width: 250px;
  /* border: 2px solid blue; */
}
.logo img {
  height: 65px;
  width: 100%;
}

.all-menu {
  width: 100%;
}

.all-menu ul {
  height: 65px;
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 20px;
}

.all-menu ul a {
  text-decoration: none;
  color: white;
}

.mini-box {
  height: 65px;
  width: 150px;
  padding-top: 5px;

  
}

.mini-box button {
  height: 70px;
  width: 150px;
  font-size: 17px;
  font-weight: 700;
  border: none;
  background-color: rgb(73, 206, 20);
  border-radius: 15px;
}

button{
  color: rgb(0, 238, 255);
}
.tages {
  height: 600px;
  width: 1915px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-tag {
  height: 500px;
  width: 1000px;
  /* border: 2px solid black; */
}

.all-tag .text-one{
  padding-top: 35px;
}

.text-one {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

.benner{
  height: 600px;
  width:1915px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image{
  height: 550px;
  width: 1700px;
}

.background-image img{
  height: 550px;
  width: 100%;
}

/* 
@media (max-width: 1200px) {
  .benner {
    height: 500px;
  }
  .background-image {
    height: 450px;
  }
} */






@media (max-width: 768px) {
  .benner {
    height: 400px;
    padding: 10px;
  }
  .background-image {
    height: 350px;
  }
}


/* 
@media (max-width: 480px) {
  .benner {
    height: 300px;
  }
  .background-image {
    height: 280px;
    width: 100%;
  }

   */










.inner-div{
  height: 500px;
  width: 1910px;
  border: 2px solid black;
  display: flex;
  position: relative;
  align-items: center;
  
}

.inner-div img{
  height: 500px;
  width: 100%;
 
}

.writing{
  height: 300px;
  width: 500px;
  border: 2px solid yellow;
  display: flex;
 position: absolute;
 justify-content: center;
 /* align-items: center; */
 /* text-align: center; */
}






.big-main-box{
  /* background-color: #ffd541; */
  height: 800px;
  width: 1900px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sec-div{
  border: 2px solid black;
  height: 700px;
  width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
.Latest-News{
  height: 50px;
  /* background-color: #3c3c3c; */
}

.three-box{
  height: 600px;
  width: 100%;
  /* background-color: rgb(153, 93, 19); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.one{
  height: 450px;
  width: 390px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.one img{
  height:300px;
  width: 100%;

}
.one .first-writing{
font-size: 22px;
letter-spacing: 1.5px;
font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, sans-serif;
font-weight: 500;
} 

.first-writing:hover{
color: #ffd541;
}