@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Marcellus&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Marcellus", serif;
}
.logo {
  height: 100px;
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.logo h1 {
  color: rgb(235, 221, 122);
  font-size: 30px;
  font-weight: 100;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.slide-mobile {
  height: 250px;
  width: 170px;
  background-color: rgb(30, 159, 210);
  position: absolute;
  right: 0;
  top: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.slide-mobile ul {
  height: 200px;
  width: 100px;
  /* border: 2px solid black; */
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.slide-mobile a {
  text-decoration: none;
}

.slide-computer {
  /* height: 30px;
    width: 600px; */
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.slide-computer ul {
  height: 30px;
  width: 800px;
  /* border: 2px solid black ; */
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.slide-computer a {
  text-decoration: none;
}

.fa-bars {
  font-size: 27px;
  font-weight: 100;
}

.fa-cart-shopping {
  font-size: 27px;
  font-weight: 100;
}

li:hover {
  color: rgb(235, 221, 122);
  transition: 0.1s;
}

@media (min-width: 1000px) {
  .slide-computer {
    display: flex;
  }
  .slide-mobile {
    display: none;
  }
}

.cover {
  height: 850px;
  width: 100%;
  /* border: 2px solid black; */
  background: url("cosmwtics.webp") no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;
}
.title {
  border: 2px solid black;
  position: absolute;
  height: 830px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 30px;
}
.NATURAL {
  font-size: 50px;
  letter-spacing: 1px;
  padding: 20px;
}
.Discover {
  font-size: 100px;
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
}
.Unlock {
  font-size: 25px;
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
}
@media (min-width: 1000px) {
  .cover{
    width: 100%;
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .NATURAL {
    justify-content: center;
    font-size: 23px;
  }
  .Discover {
    font-size: 200px;
    margin-left: 550px;
  }
}

.sellers {
  height: 300px;
  width: 100%;
  background-color: white;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.BEST {
  height: 200px;
  width: 100%;
  /* border: 2px solid black; */
  padding-top: 90px;
  padding-left: 15px;
}
.first-text {
  font-size: 20px;
  font-weight: 100;
}
.sec-text {
  font-size: 50px;
  font-family: "Marcellus", serif;
}

@media (min-width: 1000px) {
  .sellers {
    width: 100%;
  }
}

.all-div {
  height: 1200px;
  width: 100%;
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
}
.boxes {
  height: 370px;
  width: 250px;
  /* border: 2px solid black; */
  background-size: cover;
}
.boxes img {
  height: 280px;
  width: 250px;
}

.Glow {
  padding-left: 15px;
}
.price {
  padding-left: 15px;
}

@media (min-width: 1000px) {
  .all-div {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.title-text {
  height: 400px;
  width: 100%;
  background-color: rgb(223, 216, 200, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 350px;
  width: 100%;
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
}
.OUR {
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 30px;
  padding-left: 10px;
}
.Collections {
  font-size: 40px;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-left: 10px;
}
.Embark {
  font-size: 17px;
  padding-top: 45px;
  letter-spacing: 1px;
  padding-left: 10px;
}

@media (min-width: 1000px) {
  .title-text {
    width: 100%;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .OUR {
    font-size: 15px;
  }
}

.big-box {
  height: 1030px;
  width: 100%;
  background-color: rgb(223, 216, 200, 1);
  /* background-color: brown; */
}
.one-Box {
  height: 430px;
  width: 350px;
  /* background-color: white; */
  padding-top: 10px;
  background-size: cover;
  margin-left: 40px;
}
.one-Box img {
  height: 400px;
  width: 350px;
}
.See {
  padding-left: 15px;
}

.fa-arrow-right {
  padding-left: 5px;
}

.two-Box {
  height: 430px;
  width: 350px;
  /* background-color: rgb(108, 35, 35); */
  margin-left: 40px;
}
.two-Box img {
  height: 400px;
  width: 350px;
}
@media (min-width: 1000px) {
  .big-box {
    width: 100%;
  }
  .one-Box {
    height: 500px;
    width: 500px;
    background-size: cover;
    margin-left: 0px;
  }
  .one-Box img {
    height: 470px;
    width: 500px;
  }
  .two-Box {
    margin-left: 1403px;
    height: 500px;
    width: 500px;
    margin-bottom: 100px;
  }
  .two-Box img {
    height: 470px;
    width: 500px;
  }
  .one-Box p {
    padding-left: 340px;
  }
}

.white-big-box {
  height: 270px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}
.black-mini-box {
  height: 220px;
  width: 500px;
  /* border: 2px solid black; */
}
.ABOUT {
  margin-top: 80px;
  font-size: 15px;
}
.Why {
  margin-top: 20px;
  font-size: 40px;
}
@media (min-width: 1000px) {
  .white-big-box {
    width: 100%;
  }
  .black-mini-box {
    margin-left: 500px;
  }
}
.photo {
  height: 500px;
  width: 100%;
  background-color: chartreuse;
  background: url("./image/syagi.img.jpg") no-repeat center center;
  background-size: cover;
}
@media (min-width: 1000px) {
  .photo {
    width: 100%;
  }
}
.full-letter-box {
  height: 700px;
  width: 100%;
  background-color: skyblue;
  /* padding-top: 100px; */
  align-items: center;
}
.all-write {
  height: 700px;
  width: 800px;
  border: 2px solid black;
}

.one-writing {
  height: 35px;
  width: 35px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.three-div {
  height: 130px;
  width: 800px;
  /* border: 2px solid rgb(22, 204, 12); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.round {
  height: 35px;
  width: 35px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line{
  width: 795px;
  border: 0.5px solid black;
  margin-left: 5px;
}

@media (min-width:1000px) {
  .full-letter-box{
    width: 100%;
  }
 
}